<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BruTile" version="4.0.0" targetFramework="net472" />
  <package id="Fizzler" version="1.2.0" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="2.6.1.7" targetFramework="net472" />
  <package id="Mapsui" version="4.0.0" targetFramework="net472" />
  <package id="Mapsui.Wpf-Net472" version="3.0.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="ShimSkiaSharp" version="0.5.7.1" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.80.2" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="4.152.0" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="4.152.0" targetFramework="net472" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.Views.WPF" version="2.80.2" targetFramework="net472" />
  <package id="Svg.Custom" version="0.5.7.1" targetFramework="net472" />
  <package id="Svg.Model" version="0.5.7.1" targetFramework="net472" />
  <package id="Svg.Skia" version="0.5.7.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.3" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Topten.RichTextKit" version="0.4.145" targetFramework="net472" />
</packages>